#root{
  width:100%;
  margin:0;
  padding:0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  max-width: 900px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 100;
  
}

.nav-left,
.nav-right {
  display: flex;
  gap: 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0.9;
  transition: 0.3s;
}

.navbar a:hover {
  opacity: 1;
}

/* SECCION TRABAJOS */
.trabajos {
  padding: 5% 10%;
  background: #111;
}

.trabajos-title {
  
  font-size: 3rem;
  margin-bottom: 1rem;
}

.trabajos-desc {
  
  font-size: 1.2rem;
  line-height: 1.6;
}

.grid {
  display: grid;
  gap: 10px;
}

.item {
  border-radius: 20px;
  overflow: hidden;
}

.item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Desktop */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 300px);
  }

  .item-large {
    grid-row: span 2;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
  }

  .item-large {
    grid-column: span 2;
  }
}


/* ANIMACIONES */

.nav-left {
  animation: slideLeft 1s ease forwards;
}

.nav-right {
  animation: slideRight 1s ease forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(-120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 8vw;
}

.hero-left{
  grid-column:1;
  justify-self:center;

  font-family:"Zain",sans-serif;
  font-size:28px;
  line-height:1.5;

  display:flex;
  flex-direction:column;
  gap:6px;

  max-width:320px;
}

.hero-left p {
  margin: 0px 0;
}

.hero-right{
  grid-column:3;
  justify-self:center;  
  max-width:320px;
  text-align:left;
}

.hero-right p {
  margin-bottom: 30px;
  line-height: 1.5;
}

.hero-ui{
  position:absolute;
  top:0;
  left:50%;
  transform:translateX(-50%);

  width:100%;
  max-width:1400px;
  height:100vh;

  display:grid;
  grid-template-columns:1fr auto 1fr;

  align-items:center;

  padding:14vh 40px 0 40px;

  z-index:2;

  pointer-events:none;
}

.hero-ui button{
  pointer-events:auto;
}

.glass-button{

  pointer-events:auto;

  display:flex;
  align-items:center;
  gap:10px;

  padding:14px 28px;

  border-radius:999px;

  background:rgba(255,255,255,0.15);

  backdrop-filter:blur(10px);
  -webkit-backdrop-filter:blur(10px);

  border:1px solid rgba(255,255,255,0.25);

  color:white;
  font-weight:700;

  cursor:pointer;

  transition:.35s;
  outline:none;

  position:relative;
  overflow:hidden;
  z-index:1;
}

.arrow{
 transition:transform .35s ease;
}

.glass-button::before{

  content:"";
  position:absolute;
  inset:-40%;

  background:radial-gradient(
    circle at center,
    #ff0080,
    #7928ca,
    #2afadf,
    #ff8c00,
    #ff0080
  );

  opacity:0;

  filter:blur(40px);

  transition:opacity .35s;

  animation:gradientSpin 6s linear infinite;

  z-index:-1;
}

.glass-button:hover::before{
  opacity:1;
}

@keyframes gradientSpin{

  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }

}

.glass-button:hover{
  color:white;
}

.glass-button:hover .arrow{
 transform:translateX(6px);
}

.glass-button:focus-visible{
  outline:none;
}



.status-badge{

  display:inline-flex;
  align-items:center;
  gap:10px;

  font-size:13px;
  font-weight:500;

  margin-bottom:14px;

  padding:6px 14px;

  border-radius:999px;

  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(10px);

  border:1px solid rgba(255,255,255,0.15);
  align-self:flex-start;
  width:fit-content; /* Se puede sacar */
}

.status-dot{

  width:10px;
  height:10px;

  background:#8b5cf6;
  border-radius:50%;

  position:relative;
}

.status-dot::after{

  content:"";

  position:absolute;

  width:10px;
  height:10px;

  background:#8b5cf6;
  border-radius:50%;

  opacity:.55;

  top:0;
  left:0;

  animation:pulse 1.6s infinite;
}

@keyframes pulse{

  0%{
    transform:scale(1);
    opacity:.55;
  }

  70%{
    transform:scale(2.4);
    opacity:0;
  }

  100%{
    opacity:0;
  }

}


/* CIRCULOS*/

.circle{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
}

/* sección */

.circle-section{
  position:relative;
  padding:40px 20px 0px 20px;
  background:#111;
  overflow:hidden;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  z-index: 0;

}

/* máscara */

.circle-mask{
  position:relative;
  width:100%;
  height:700px;
  overflow:hidden;
  margin:auto;

  pointer-events:none;
  z-index:1;
}

/* círculo */

.circle-wrapper{
  position:relative;
  width:1100px;
  height:1100px;
  margin:auto;

  transform:translateY(300px); /* ahora sí funciona */
}

/* rotación */

.circle-rotator{
  width:100%;
  height:100%;
  
  animation:rotateCircle 80s linear infinite;
}

/* imágenes */

.circle-img{
  position:absolute;

  top:50%;
  left:50%;

  width:200px;
  height:200px;

  object-fit:cover;
  border-radius:16px;

  transform-origin:center;

  box-shadow: 0 10px 30px rgba(1,1,1);
  
  
}

/* animación del círculo */

@keyframes rotateCircle{
  from{ transform:rotate(0deg); }
  to{ transform:rotate(360deg); }
}



/* fade inferior */

.circle-mask::after{
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:150px;
  background:linear-gradient(
    to bottom,
    rgba(17,17,17,0),
    rgba(17,17,17,1)
  );
}


/* contenido */

.circle-content{
  position:relative;
  z-index:10;   /* antes estaba 2 */
  max-width:1400px;

  margin-top:00px;

  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  transform:translateY(-220px); 
}

.circle-content h2{
  font-family:"Zain",sans-serif;
  font-size:2.4rem;
  margin-bottom:20px;
}

.circle-content p{
  font-family:"Zain",sans-serif;
  font-size:1.1rem;
  line-height:1.6;
  margin-bottom:30px;
  opacity:0.8;
}


/* RESUMEN SERVICES*/

.services-section{
  background:#111;
  padding:6% 10%;

  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.service-card{
  background:transparent;
  border-radius:20px;
  padding:45px 35px;
  
  text-align:left;
}



.service-icon{
  width:42px;
  height:42px;

  /* margin:0 auto 25px; */

  
}

.service-icon svg{
  width:100%;
  height:100%;
}

.service-card h3{
  font-weight:600;
  font-size:20px;
  letter-spacing:1px;
  margin-bottom:10px;
}

.service-card p{
  font-size:14px;
  color:#8a8a8a;
  line-height:1.6;
}

@media (max-width:768px){

.services-section{
  grid-template-columns:1fr;
}

}
